.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

h1 {
  color: white;
}

img {
  height: 100px;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  justify-content: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

#name-container {
  display: flex;
}

#house-container {
  display: flex;
}

#label-family {
  display: flex;
  flex-direction: column;
}

#tech-container1 {
  display: flex;
}

#tech-container1 label {
  margin: 5px;
}

#tech-container2 {
  display: flex;
}

#tech-container2 label {
  margin: 5px;
}

#rate-container {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

#rating-container {
  display: flex;
}

#label-rate {
  margin: 0;
}
